<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="https://cdn-icons-png.flaticon.com/512/52/52102.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
      integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/style.css" />
    <title>MealBox</title>
  </head>
  <body>
    <main class="wrapper">
      <ul class="sidebar">
        <li class="active">
          <a href="#"><i class="fa fa-home" aria-hidden="true"></i></a>
        </li>

        <li>
          <a href="/login"><i class="fa fa-lock" aria-hidden="true"></i></a>
        </li>

        <li><i class="fa fa-certificate" aria-hidden="true"></i></li>
      </ul>

      <ul class="home__cover">
        <% categories.map(e => {%>
        <li class="home__category">
          <img src=<%= e.imgLink %> alt="category" width="400" height="300">
          <div class="home__text">
            <p class="home__title"><%= e.title %></p>
            <a class="home__linker" href=<%= e.categoryName %>><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
          </div>
        </li>
        <%})%>
      </ul>
    </main>
    <script src="js/script.js"></script>
  </body>
</html>
