<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="shortcut icon"
      href="https://cdn-icons-png.flaticon.com/512/52/52102.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
      integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/style.css" />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
    <title>MealBox</title>
</head>
<body>
    <div class="wrapper">
        <ul class="sidebar">
            <li>
                <a href="/"><i class="fa fa-home" aria-hidden="true"></i></a>
              </li>
      
              <li>
                <a href="/login"><i class="fa fa-lock" aria-hidden="true"></i></a>
              </li>
      
              <li><i class="fa fa-certificate" aria-hidden="true"></i></li>
          </ul>

          <ul class="res__cover">
            <% restaurants.map(e=> { %>
                <li class="res__item">
                        <img class="res__img" src=<%= e.imgLink %> alt="restaurant" width="400" height="300" >
                        <div class="res__text">
                            <p class="res__title"><%= e.restaurant %></p>
                            <a href=<%= e.restaurant %> class="res__linker"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                        </div>
                </li>
            <%})%>
          </ul>
    </div>
    
    <script src="js/script.js"></script>
</body>
</html>